# This file is part of agora-dev-box.
# Copyright (C) 2014-2016  Agora Voting SL <agora@agoravoting.com>

# agora-dev-box is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License.

# agora-dev-box  is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.

# You should have received a copy of the GNU Lesser General Public License
# along with agora-dev-box.  If not, see <http://www.gnu.org/licenses/>.

---
- name: AgoraGui, copy logo image
  when: config.agora_gui.organization.logo_path != ''
  sudo: true
  copy:
    "src={{config.agora_gui.organization.logo_path}}
    dest=/home/agoragui/agora-gui-admin/img/agora_voting_logo_white_100.png
    owner=agoragui
    group=agoragui
    mode=u=rw,g=r,o=r"

- name: AgoraGui, config beautify options
  sudo: true
  sudo_user: agoragui
  replace:
    "dest=/home/agoragui/{{item}}/Gruntfile.js
    regexp='beautify:.*'
    replace='beautify: {% if config.agora_gui.debug == 'true' %}true{% else %}false{% endif %}'"
  with_items:
    - agora-gui-admin
    - agora-gui-elections
    - agora-gui-booth

- name: AgoraGui, config compress options
  sudo: true
  sudo_user: agoragui
  replace:
    "dest=/home/agoragui/{{item}}/Gruntfile.js
    regexp='compress:.*'
    replace='compress: {% if config.agora_gui.debug == 'false' %}true{% else %}{}{% endif %},'"
  with_items:
    - agora-gui-admin
    - agora-gui-elections
    - agora-gui-booth

- name: AgoraGui, copy static_extra_path
  when: config.agora_gui.static_extra_path != ''
  sudo: true
  copy:
    "src={{config.agora_gui.static_extra_path}}
    dest=/home/agoragui/static_extra/
    owner=agoragui
    group=agoragui"

- name: AgoraGui, config election limits
  sudo: true
  sudo_user: agoragui
  replace:
    "dest=/home/agoragui/agora-gui-admin/avAdmin/election-limits-service.js
    regexp='{{ item.key }}:.*'
    replace='{{ item.key }}: {{ item.value }},'"
  with_items:
    - { key: maxNumQuestions, value: "{{ config.election_limits.max_num_questions }}" }
    - { key: maxNumAnswers, value: "{{ config.election_limits.max_num_answers }}" }
    - { key: maxShortStringLength, value: "{{ config.election_limits.max_short_string_length }}" }
    - { key: maxLongStringLength, value: "{{ config.election_limits.max_long_string_length }}" }

- name: AgoraGui, config custom html body include
  sudo: true
  sudo_user: agoragui
  replace:
    "dest=/home/agoragui/agora-gui-admin/Gruntfile.js
    regexp='admin_html_body_include:.*'
    replace='admin_html_body_include:\"{{ config.agora_gui.texts.admin_html_body_include }}\",'"
